.btn__box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .btn{
        padding: 7px 14px;
        border-radius: 8px;
        width: 800px;
        height: 56px;
        font-size: 16px;
        font-weight: 600;
        color: #1f2026;
        background: #f2f4f7;
        cursor: pointer;
    }
}