.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 50px;

    @media (max-width: 1120px) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__about {
        @media (max-width: 1120px) {
            margin: 20px;
        }
    }

    &__imgs {
        width: 100%;
        max-width: 600px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-mini {
            display: flex;
            align-items: center;
            gap: 5px;

            &-fav {
                display: flex;
                align-items: center;
                cursor: pointer;

                &-heard {
                    transition: transform 0.3s ease;

                    & path {
                        fill: transparent;
                        stroke: rgba(0, 0, 0, 0.7);
                    }

                    &.active path {
                        stroke: #7000ff;
                        fill: #7000ff;
                    }
                }

                &:hover .product__box-mini-fav-heard {
                    transform: scale(1.2);
                }

            }
        }

        &-txt {
            color: #8b8e99;
            font-size: 13px;
        }

        &-rating {
            color: #8b8e99;
            font-size: 13px;
            cursor: pointer;
        }

        &-txt-fav {
            font-size: 14px;
            color: #1f2026;
        }

        &-fav {
            color: #1f2026;
        }
    }

    &__desc {
        margin-top: 30px;
    }

    &__title {
        font-size: 22px;
        color: #1f2026;
        padding: 8px 0;
    }

    &__txt {
        color: #8b8e99;
        font-size: 17px;
        flex-wrap: wrap;
    }

    &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        border: 0.1px solid rgba(54, 54, 64, 0.2);
        border-radius: 10px;
    }

    &__prices-count {
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 40px;

        &-quantity {
            color: #009c38;
        }
    }

    &__conter-title {
        font-size: 14px;
        color: #1f2026;
        font-weight: 500;
        margin: 20px 0;
    }

    &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        background: #fff;
        gap: 20px;
        border: solid 1px #8b8e99;

        &-decrement {
            font-size: 32px;
            font-weight: 500;
            cursor: pointer;
        }

        &-increment {
            font-size: 32px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        margin-top: 60px;

        &-title {
            font-size: 15px;
            color: #1f2026;
            font-weight: 400;
            margin: 20px 0;
        }

        &__price {
            font-size: 20px;
            font-weight: 500;
            color: #1f2026;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        gap: 50px;

        &-btn {
            width: 100%;
            max-width: 250px;
            min-height: 52px;
            background: #73f;
            font-size: 16px;
            border-radius: 15px;
            cursor: pointer;

            &-link1 {
                color: #fff;
            }
        }

        &-btn-order {
            width: 100%;
            max-width: 500px;
            min-height: 52px;
            background: #fff;
            border: solid 1px #73f;
            border-radius: 15px;
            font-size: 16px;
            cursor: pointer;

            &-link {
                color: #73f;
            }
        }
    }
}