.mySwiper .swiper-slide,
.mySwiper2 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.mySwiper img,
.mySwiper2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}