* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button,
textarea,
input {
  border: none;
  outline: none;
}

img {
  width: 100%;
  vertical-align: bottom;
  object-fit: contain;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}